.header-section {
  color: #000;
  background-color: #438a5e;
}
.header-section .header-label {
  text-transform: Uppercase;
  font-family: "Mirza", cursive;
  padding: 0.5rem;
  margin: 0;
  line-height: 1.2;
  display: block;
  text-align: left;
  font-weight: bold;
  position: relative;
}
.header-section .header-label span {
  cursor: pointer;
}
.headline-hr {
  margin-top: auto;
  border: 0;
  border-top: 2px solid #438a5e;
  margin-bottom: 1rem;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  display: block;
}


/**** Media Queries for Mobile ***/
@media (min-width: 320px) and (max-width:520px) {
    .header-label {
      font-size: 2rem;
      text-align: center !important;
    }
  }